Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
Abigail Cabunoc <abigail.cabunoc@oicr.on.ca> <abigail.cabunoc@gmail.com>
Francois Michonneau <francois.michonneau@gmail.com> <francois.michonneau@gmail.Com>
Raniere Silva <raniere@ime.unicamp.br> <ra092767@ime.unicamp.br>
Liam Clark <lgxlg3@nottingham.ac.uk>
Maneesha Sane <ahseenam@gmail.com>
Susan McClatchy <susan.mcclatchy@jax.org>
John Moreau <John.R.Moreau@gmail.com>
Michael Jackson <michaelj@epcc.ed.ac.uk>
Pauline Barmby <pbarmby@uwo.ca>
