James Allen <jamesallen0108@gmail.com>
Paula Andrea <orchid00@users.noreply.github.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Pauline Barmby <pbarmby@uwo.ca>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Andy Boughton <abought@gmail.com>
Andy Boughton <pchemist@gmail.com>
Karl Broman <kbroman@gmail.com>
Amy Brown <amyrhoda@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@oicr.on.ca>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com>
Daniel Chen <Maveri2k@yahoo.com>
Liam Clark <lgxlg3@nottingham.ac.uk>
Peter Cock <p.j.a.cock@googlemail.com>
Matthew Collins <mcollins@acis.ufl.edu>
Harrison Dekker <hdekker@berkeley.edu>
Jonah Duckles <jonah@duckles.org>
Stevan Earl <stevan.earl@asu.edu>
Dirk Eddelbuettel <edd@debian.org>
Rémi Emonet <remi@heeere.com>
Rémi Emonet <remi.emonet@univ-st-etienne.fr>
Ivan Gonzalez <iglpdc@gmail.com>
John Gosset <john.gosset@gmail.com>
Thomas Guignard <tom@timtom.ch>
Jonathan Guyer <guyer@nist.gov>
Michael Hansen <hansen.mike@gmail.com>
Mike Jackson <m.jackson@software.ac.uk>
Mike Jackson <michaelj@epcc.ed.ac.uk>
Nick James <nick.james150@yahoo.com>
Luke W. Johnston <lwjohnst@gmail.com>
W. Trevor King <wking@tremily.us>
Andrew Kubiak <andy.kubiak@gmail.com>
Avishek Kumar <avishek.kumar@outlook.com>
Doug Latornell <djl@douglatornell.ca>
Peter Li <peter@gigasciencejournal.com>
Sue McClatchy <susan.mcclatchy@jax.org>
Sheldon McKay <sheldon.mckay@gmail.com>
Sheldon McKay <smckay@compounce-2.local>
François Michonneau <francois.michonneau@gmail.com>
James Mickley <mickley@gmail.com>
Bill Mills <mills.wj@gmail.com>
John R. Moreau <John.R.Moreau@gmail.com>
Joshua Nahum <nahumj@users.noreply.github.com>
Aaron O'Leary <aaron.oleary@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Maneesha Sane <ahseenam@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br>
Raniere Silva <raniere@ime.unicamp.br>
Raniere Silva <raniere@rgaiacs.com>
Luc Small <luc.small@gmail.com>
Donald Speer <speerdw@gmail.com>
Mark Stacy <mbstacy@gmail.com>
Scott Talafuse <st19@rice.edu>
Morgan Taschuk <morgan.taschuk@oicr.on.ca>
Chris Tomlinson <chris.tomlinson@imperial.ac.uk>
Ioan Vancea <ionut@Ioans-MacBook-Air.local>
Ben Waugh <b.waugh@ucl.ac.uk>
Ethan White <ethan@weecology.org>
Greg Wilson <gvwilson@software-carpentry.org>
Greg Wilson <gvwilson@third-bit.com>
Donny Winston <dwinston@alum.mit.edu>
Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Deborah Digges <deborah.gertrude.digges@gmail.com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Jeff Stafford <jeff.stafford@live.com>
Kate Hertweck <k8hertweck@gmail.com>
Tobin Magle <maglet@colostate.edu>
Owen Stephens <owen@ostephens.com>
